<dashboard-card class="offeredresourcescard ">
    <template v-slot:header>
        Data Offerings
    </template>
    <template v-slot:content>
        <div class="text-center" v-if="offeredResourcesAvailable">
            <div class="kpi_number">{{ totalNumber }}</div>
            <div class="overline">{{ totalSize }} {{ totalSizeType }}</div>
        </div>
    </template>
    <template v-slot:button>
        <v-btn class="no-uppercase" color="primary" :to="{path:'addresource'}" depressed>
            Share Data
        </v-btn>
    </template>
</dashboard-card>