.offeredresourcescard {
    width: 100%;
}

.offeredresourcescard .statsdiv {
    margin-left: 10px;
}

.offeredresourcescard .statsrow {
    clear: left;
    margin-top: 50px;
}

.offeredresourcescard .cardtext {
    font-size: 20px;
}

.offeredresourcescard .number {
    font-size: 60px;
    font-weight: bold;
    float: left;
    color: var(--v-accent-base);
}

.offeredresourcescard .type {
    font-size: 24px;
    left: 5px;
    position: relative;
}
