<v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
        <v-btn v-bind="attrs" v-on="on" elevation="1" color="primary"
            class="buttontext--text addbackendconnectionbutton" @click="addButtonClicked">Add Backend
            Connection
        </v-btn>
    </template>

    <v-card>
        <v-card-title class="headline grey lighten-2">
            {{title}}
        </v-card-title>

        <v-card-text>
            <v-form v-model="valid" ref="form">
                <v-text-field ref="tfURL" label="URL" v-model="url" :rules="urlRule"> </v-text-field>
                <v-text-field label="Username" v-model="username"> </v-text-field>
                <v-text-field label="Password" v-model="password" :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword">
                </v-text-field>
            </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="saveBackendConnection" :disabled="!valid">
                Save
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
