<v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
        <v-btn v-bind="attrs" v-on="on" elevation="1" color="primary"
            class="buttontext--text addbackendconnectionbutton" @click="addButtonClicked">Add Backend
            Connection
        </v-btn>
    </template>

    <v-card>
        <v-card-title class="headline grey lighten-2">
            {{title}}
        </v-card-title>

        <v-card-text>
            <v-form v-model="valid" ref="form">
                <v-select label="Source Type" v-model="sourceType" :items="sourceTypes" v-if="!editMode"></v-select>
                <p v-if="editMode" class="abc-dialog-sourcetype-label">Source Type: {{ sourceType }}</p>
                <v-text-field ref="tfURL" label="URL" v-model="url" :rules="urlRule"> </v-text-field>
                <v-text-field v-if="sourceType === 'Database'" label="Driver class name" v-model="driverClassName"
                    :rules="requiredRule">
                </v-text-field>
                <v-text-field v-if="sourceType==='Database'" label="Camel SQL component URI (query)"
                    v-model="camelSqlUri"></v-text-field>
                <v-tabs class="pagestab" v-model="active_tab" ref="pagestab" hide-slider>
                    <v-tab>Basic</v-tab>
                    <v-tab v-if="sourceType === 'REST'">API-Key</v-tab>
                    <v-tab-item :eager="true">
                        <v-text-field label="Username" v-model="username"> </v-text-field>
                        <v-text-field label="Password" v-model="password" :type="showPassword ? 'text' : 'password'"
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="showPassword = !showPassword">
                        </v-text-field>
                    </v-tab-item>
                    <v-tab-item :eager="true">
                        <v-text-field label="Header name" v-model="authHeaderName"> </v-text-field>
                        <v-text-field label="Header value" v-model="authHeaderValue"> </v-text-field>
                    </v-tab-item>
                </v-tabs>

            </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="cancelBackendConnection">
                Cancel
            </v-btn>
            <v-btn color="primary" @click="saveBackendConnection" :disabled="!valid">
                Save
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>