.selectcol {
    display: flex;
}

.inoutarrowcol {
    display: flex;
}

.inoutarrow {
    font-size: 50px;
    display: flex;
    align-self: center;
    flex-grow: 1;
    justify-content: center;
}

.noselectdiv {
    font-size: 20px;
    display: flex;
    align-self: center;
    flex-grow: 1;
    justify-content: center;
}
