<v-dialog v-model="dialog" width="800" eager>
    <v-card>
        <v-card-title class="headline grey lighten-2">
            {{title}}
        </v-card-title>

        <v-card-text>
            <v-form v-model="valid" ref="form">
                <v-row no-gutters>
                    <v-col cols="12" md="5" class="selectcol">
                        <v-select
                            v-if="sourceNode == null || sourceNode.type != 'idsendpointnode' || outputs.length > 0"
                            label="Output" v-model="outputSelfLink" :items="outputs" item-text="text"
                            item-value="selfLink" :rules="defaultRule">
                        </v-select>
                        <div v-if="outputs.length == 0 && sourceNode != null && sourceNode.type == 'idsendpointnode'"
                            class="noselectdiv">
                            {{ sourceNode.name }}</div>
                    </v-col>
                    <v-col cols="12" md="2" class="inoutarrowcol">
                        <div class="inoutarrow">➞</div>
                    </v-col>
                    <v-col cols="12" md="5" class="selectcol">
                        <v-select
                            v-if="destinationNode == null || destinationNode.type != 'idsendpointnode' || inputs.length > 0"
                            label="Input" v-model="inputSelfLink" :items="inputs" item-text="text" item-value="selfLink"
                            :rules="defaultRule">
                        </v-select>
                        <div v-if="inputs.length == 0 && destinationNode != null && destinationNode.type == 'idsendpointnode'"
                            class="noselectdiv">
                            {{ destinationNode.name }}</div>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="save" :disabled="!valid">
                Save
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>