.add-resource-page .policytypestab .v-slide-group {
    display: none;
}

.invisible-policy {
    display: none;
}

.policy-page-add-button {
    margin-bottom: 20px;
    font-size: 26px !important;
}

