<div class="content add-resource-page">
    <div>
        <v-tabs class="pagestab" v-model="active_tab" ref="pagestab">
            <v-tab :disabled="!readonly">Meta data</v-tab>
            <v-tab :disabled="!readonly" v-if="displayOntologyPage === true">Additional</v-tab>
            <v-tab :disabled="!readonly" v-show="!onlyMetaData">Policy</v-tab>
            <v-tab :disabled="!readonly" v-show="!onlyMetaData">Representation</v-tab>
            <v-tab :disabled="!readonly" v-show="!onlyMetaData">Catalogs</v-tab>
            <v-tab :disabled="!readonly" v-show="!onlyMetaData & !hideBrokers">Brokers</v-tab>
            <v-tab-item :eager="true">
                <resource-meta-data-page ref="metaDataPage" @nextPage="nextPage" :readonly="readonly">
                </resource-meta-data-page>
            </v-tab-item>
            <v-tab-item :eager="true" v-if="displayOntologyPage === true">
                <resource-ontology-page ref="ontologyPage" @previousPage="previousPage" @nextPage="nextPage" :readonly="readonly">
                </resource-ontology-page>
            </v-tab-item>
            <v-tab-item :eager="true">
                <policy-tab ref="policyTab" @previousPage="previousPage" @nextPage="nextPage" :readonly="readonly">
                </policy-tab>
            </v-tab-item>
            <v-tab-item :eager="true">
                <resource-representation-page ref="representationPage" :fromRoutePage="fromRoutePage"
                    :readonly="readonly" @previousPage="previousPage" @nextPage="nextPage">
                </resource-representation-page>
            </v-tab-item>
            <v-tab-item :eager="true">
                <resource-catalogs-page ref="catalogsPage" inAddResourcesPage :readonly="readonly"
                    @previousPage="previousPage" @nextPage="nextPage">
                </resource-catalogs-page>
            </v-tab-item>
            <v-tab-item :eager="true">
                <resource-brokers-page ref="brokersPage" :fromRoutePage="fromRoutePage" :readonly="readonly"
                    @previousPage="previousPage" @save="save">
                </resource-brokers-page>
            </v-tab-item>
        </v-tabs>
    </div>
</div>