#btn-show-catalogs {
    margin-top: 10px;
}
#select-catalog {
    margin-bottom: 30px;
}
#select-representation {
    margin-bottom: 30 px;
}
.data-consumption-page-title {
    margin-top: 50px;
}
.data-consumption-page-dialog-title {
    margin-top: 10px;
}
.data-consumption-page-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.data-consumption-page-catalog-button {
    margin-top: 5px;
}