.proxy-authentication.invisible {
    display: none;
}

.save-settings-button {
    margin-right: 10px;
}

.save-settings-col {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.save-message {
    color: var(--v-success-base)
}
