<div>
    <v-form v-model="valid" ref="form">
        <v-row no-gutters>
            <v-col cols="12" md="2">
                Connector
            </v-col>
            <v-col cols="12" md="9">
                <v-text-field label="Title" v-model="connectorTitle"> </v-text-field>
                <v-text-field label="Description" v-model="connectorDescription"> </v-text-field>
                <v-text-field label="Endpoint" v-model="connectorEndpoint" :rules="urlRule"> </v-text-field>
                <v-text-field label="Version" v-model="connectorVersion" :rules="versionRule"> </v-text-field>
                <v-text-field label="Curator" v-model="connectorCurator" :rules="urlRule"> </v-text-field>
                <v-text-field label="Maintainer" v-model="connectorMaintainer" :rules="urlRule"> </v-text-field>
                <v-text-field label="Inbound model version" v-model="connectorInboundModelVersion" :rules="versionRule">
                </v-text-field>
                <v-text-field label="Outbound model version" v-model="connectorOutboundModelVersion"
                    :rules="versionRule"> </v-text-field>
            </v-col>
        </v-row>
        <v-row no-gutters class="settings-connector-status">
            <v-col cols="12" md="2">
                ConnectorStatus
            </v-col>
            <v-col cols="12" md="9">
                {{connectorStatus}}
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12" md="2">
                Proxy
            </v-col>
            <v-col cols="12" md="9">
                <v-text-field label="Proxy URL" v-model="proxyUrl" :rules="urlRule"> </v-text-field>
                <v-checkbox v-model="proxyAuthenticationNeeded" label="Use authentication"></v-checkbox>
                <div class="proxy-authentication"
                    v-bind:class="{ visible: proxyAuthenticationNeeded, invisible: !proxyAuthenticationNeeded }">
                    <v-text-field label="Username" v-model="proxyUsername"> </v-text-field>
                    <v-text-field label="Password" v-model="proxyPassword" :type="showPassword ? 'text' : 'password'"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPassword = !showPassword">
                    </v-text-field>
                </div>
                <v-textarea label="Do not use the proxy settings for these hosts and domains" v-model="proxyNoProxy"
                    :rules="urlListRule">
                </v-textarea>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12" md="2">
                Deploy
            </v-col>
            <v-col cols="12" md="9">
                <v-select label="Deploy Method" v-model="deployMethod" :items="deployMethods" item-text="displayName"
                    item-value="originalName">
                </v-select>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12" md="2">
                LogLevel
            </v-col>
            <v-col cols="12" md="9">
                <v-select label="Log Level" v-model="logLevel" :items="logLevels" item-text="displayName"
                    item-value="originalName">
                </v-select>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12" md="2">
                Connector DeployMode
            </v-col>
            <v-col cols="12" md="9">
                <v-select label="Connector Deploy Mode" v-model="connectorDeployMode" :items="connectorDeployModes"
                    item-text="displayName" item-value="originalName">
                </v-select>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12" md="2">
                TrustStore
            </v-col>
            <v-col cols="12" md="9">
                <v-text-field label="TrustStore URL" v-model="trustStoreUrl"> </v-text-field>
                <v-text-field label="TrustStore Password" v-model="trustStorePassword"
                    :type="showPasswordTrustStore ? 'text' : 'password'" :append-icon="showPasswordTrustStore ?
                    'mdi-eye' :
                    'mdi-eye-off'" @click:append="showPasswordTrustStore = !showPasswordTrustStore"> </v-text-field>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12" md="2">
                KeyStore
            </v-col>
            <v-col cols="12" md="9">
                <v-text-field label="KeyStore URL" v-model="keyStoreUrl"> </v-text-field>
                <v-text-field label="KeyStore Password" v-model="keyStorePassword"
                    :type="showPasswordKeyStore ? 'text' : 'password'" :append-icon="showPasswordKeyStore ? 'mdi-eye' :
                    'mdi-eye-off'" @click:append="showPasswordKeyStore = !showPasswordKeyStore"> </v-text-field>
            </v-col>
        </v-row>
    </v-form>
    <v-row no-gutters>
        <v-col cols="12" md="12" class="save-settings-col">
            <v-btn color="primary" @click.native="saveSettings" :disabled="!valid" class="save-settings-button">Save
            </v-btn>
            <div class="save-message">{{ saveMessage }}</div>
        </v-col>
    </v-row>
</div>