.proxy-authentication.invisible {
    display: none;
}

.settings-connector-status {
    margin-bottom: 30px;
}

.save-settings-button {
    margin-right: 10px;
    margin-bottom: 50px;
}

.save-settings-col {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.save-message {
    color: var(--v-success-base)
}
