.add-resource-page {
    /* width: 33%;
    margin-left: 30px; */
}

.add-resource-page .prev-page-button {
    margin-right: 10px;
}

.pagestab .v-tab--disabled {
    color: var(--v-text1-base) !important;
    opacity: 1;
}
