<div>
    <v-alert outlined color="accent">
        <div>You can whitelist DAPS to restrict data exchange to IDS Connectors that receive their DATs from whitelisted
            DAPS + your own connected DAPS. If no DAPS is whitelisted, all DAPS (even self-hosted ones) are trusted. If
            a message with a DAT arrives while at least one DAPS is whitelisted which is from a non-whitelisted DAPS,
            the message is rejected with a RejectionMessage. For productive mode, it is recommended to add at least
            one's own DAPS.
        </div>
    </v-alert>
    <add-daps-dialog ref="addDapsDialog" @dapsSaved="dapsSaved">
    </add-daps-dialog>
    <v-row no-gutters>
        <v-col cols="12" md="3" sm="6">
            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
            </v-text-field>
        </v-col>
    </v-row>
    <v-row no-gutters>
        <v-col cols="12" md="11" sm="12">
            <v-data-table v-model="selected" :headers="headers" :items="daps" :items-per-page="5" :search="search"
                          item-key="id" no-data-text="No Daps available">
                <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon class="mr-2" @click="editItem(item)" v-bind="attrs" v-on="on">
                                mdi-pencil
                            </v-icon>
                        </template>
                        <span>edit Daps</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon @click="deleteItem(item)" v-bind="attrs" v-on="on">
                                mdi-delete
                            </v-icon>
                        </template>
                        <span>delete Daps</span>
                    </v-tooltip>
                </template>
            </v-data-table>
        </v-col>
    </v-row>
    <confirmation-dialog ref="confirmationDialog"></confirmation-dialog>
</div>