 <div>
     <v-text-field label="JDBC URL" v-model="jdbcURL"> </v-text-field>
     <v-select label="DB Type" v-model="dbType" :items="['SQL', 'MySQL', 'MongoDB', 'PostgreSQL']"> </v-select>
     <v-text-field label="Username" v-model="username"> </v-text-field>
     <v-text-field label="Password" v-model="password" :type="showPassword ? 'text' : 'password'"
         :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" @click:append="showPassword = !showPassword">
     </v-text-field>
 </div>
